<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731645157617-gu74io2skvvd8b6lvr6tuntk0llgl1oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731645157617-gu74io2skvvd8b6lvr6tuntk0llgl1oa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>731645157617-13pa9ui6p5a3ckq1fc097bmcbfq1gdmb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPGutUzzJGfQXriajLPy6iSAZngOjguic</string>
	<key>GCM_SENDER_ID</key>
	<string>731645157617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thiqatech.dex.vendor</string>
	<key>PROJECT_ID</key>
	<string>deliveryx-3ca16</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryx-3ca16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731645157617:ios:6d546cc85990bfb7e10950</string>
	<key>DATABASE_URL</key>
	<string>https://deliveryx-3ca16.firebaseio.com</string>
</dict>
</plist>