<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790395124070-iebln9npk9sckhkookt8r5t13db4ak31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790395124070-iebln9npk9sckhkookt8r5t13db4ak31</string>
	<key>API_KEY</key>
	<string>AIzaSyAfMV7QRaHrFPjQ5RELoYlhpJdFe7tV8bc</string>
	<key>GCM_SENDER_ID</key>
	<string>790395124070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thiqatech.dex.vendor</string>
	<key>PROJECT_ID</key>
	<string>dexoman-7559f</string>
	<key>STORAGE_BUCKET</key>
	<string>dexoman-7559f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790395124070:ios:daa1be1847af04e071b0a7</string>
</dict>
</plist>